{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription sur My_Quizz</h1>
    {{ form_start(form) }}

        {{ form_row(form.name, {'label': 'Pseudo', 'attr': {'placeholder': 'Votre pseudo'}}) }}
        {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Votre email'}}) }}
        {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Votre mot de passe'}}) }}
        {{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {'placeholder': 'Confirmez votre mot de passe'}}) }}
        <button type="submit" class="btn btn-primary">S'enregistrer</button>
        
    {{ form_end(form) }}
{% endblock %}
