{% extends 'base.html.twig' %}

{% block body %}
    <h1>Renseignez les Réponses</h1>
    {{ form_start(formAnswer) }}
        {{ form_row(formAnswer.content, {'label': 'Rédigez votre réponse', 'attr': {'placeholder': 'Réponse suggérée'}}) }}
        {{ form_row(formAnswer.expectedAnswer,  {'label': 'Est-ce la bonne réponse ?'}) }}
        <button type="submit" class="btn btn-primary">Validez</button>
    {{ form_end(formAnswer) }}
{% endblock %}