{% extends 'base.html.twig' %}

{% form_theme formQuiz 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% if editMode %}
        <h1>Modifiez un quizz</h1>
    {% else %}
        <h1>Création d'un nouveau quizz</h1>
    {% endif %}

    {{ form_start(formQuiz) }}
    
    {{ form_row(formQuiz.name, {'label': 'Nom de votre nouveau Quizz', 'attr': {'placeholder': 'Nom du quizz'}}) }}
    {{ form_row(formQuiz.category, {'label': 'Choisissez une catégorie'}) }}
    {{ form_row(formQuiz.numberOfQuestion, {'label': 'Choisissez une catégorie'}) }}

    <button type="submit" class="btn btn-primary">
        {% if editMode %}
            Modifier
        {% else %}
            Créer un nouveau quizz    
        {% endif %}
    </button>
        
    {{ form_end(formQuiz) }}
{% endblock %}