{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue dans My_Quizz</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae accusantium totam quo itaque illo minus reprehenderit, nisi quasi doloribus numquam nesciunt nulla deleniti vel pariatur dolorum nostrum voluptatem praesentium doloremque! Neque consectetur sequi earum, ea in natus maxime ut illum?</p>
<p>Est neque nulla officia recusandae magnam quam quo, numquam delectus repellendus iusto, voluptate, fugit dignissimos laborum quidem sapiente sed voluptatum. Itaque atque iusto totam ab fugiat, sed quo non aspernatur! Fuga, cupiditate iste eaque alias earum magni ad tempora nam.</p>

{% endblock %}
