{% extends 'base.html.twig' %}

{% block title %}My_Quizz{% endblock %}

{% block body %}
    
    <section class="allQuizz d-flex">
        <aside class="category col-3">
        <h2 class="pt-2">Filtres</h2>
            {{ form_start(formFilterQuiz) }}
                {{ form_row(formFilterQuiz.category) }}
                {{ form_row(formFilterQuiz.numberOfQuestion) }}
                <button type="submit" class="btn btn-primary">Filtrer</button>
            {{ form_end(formFilterQuiz) }}
        </aside>
        
        <section class="col-9">
        <h1>Trouvez un quizz</h1>
        
        {% for quiz in quizs %}
        {% if message == true %}
            Il n'y a pas de quizz dans " {{ quiz.category.name }} " en format {{ quiz.numberOfQuestion }} questions!!
        {% endif %}

            <h2>{{ quiz.name }}</h2>
            <div class="metadata">Créé le {{ quiz.createdAt | date('d/m/Y') }} à {{ quiz.createdAt | date('H:i') }} par {{ quiz.user.name | capitalize }}
                <h3>Catégorie {{ quiz.category.name }}</h3>
                <p>{{ quiz.numberOfQuestion }} questions.</p>
                <a href="{{ path('quiz_show', {'id': quiz.id}) }}" class="btn btn-primary">Jouez</a>
            </div>
        {% endfor %}
        </section>  
    </section>
{% endblock %}
