{% extends 'base.html.twig' %}

{% block body %}
    <h1>Renseignez les questions</h1>
    {{ form_start(form) }}
        {{ form_row(form.content, {'label': 'Rédigez votre question', 'attr': {'placeholder': 'Qu\'elle est votre question ?'}}) }}
        <button type="submit" class="btn btn-primary">Validez</button>
    {{ form_end(form) }}
{% endblock %}