{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ quiz.name }}</h2>
        <div class="metadata">Créé le {{ quiz.createdAt | date('d/m/Y') }} à {{ quiz.createdAt | date('H:i') }} par {{ quiz.user.name | capitalize }}
            <h3>Catégorie {{ quiz.category.name }}</h3>
            <p>{{quiz.numberOfQuestion}} questions</p>
            {% for question in quiz.questions %}
                <p>{{ question.content }}</p>
                {% for answer in question.answers %}
                    <p>{{ answer.content }}</p>
                {% endfor %}
            {% endfor %}
        </div>

{% endblock %}